/.jsdtscope
*.prefs
*.eclipse.wst.jsdt.ui.superType.container
*.eclipse.wst.common.component
*.eclipse.wst.common.project.facet.core.xml
*.eclipse.wst.jsdt.ui.superType.name
*.eclipse.wst.common.project.facet.core.prefs.xml
